@using FinanceCourse.Areas.Tools.Services
@using FinanceCourse.Areas.Tools.Models

@code {
    [Parameter]
    public int ToolId { get; set; }
    [Inject]
    public ToolComponentService _ToolComponent { get; set; }
}

<div style="border: solid #f8f9fa;">
    <div class="container" style="max-height: 500px; overflow: auto">
        @_ToolComponent.RenderTool(ToolId)
    </div>
</div>
