@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Welcome! This is a demo website where you can pass a finance course intended to be as interactive as possible! It is built on asp.net core + blazor frameworks.</p>
</div>
